<h3>CURP: {{dataService.curpEvent$ | async}} </h3>

<h1>Registro para Vacunación</h1>

<p>
    Es importante verifiques la información que se presenta a continuación, corresponde a la CURP que estas 
    solicitando y que coincide con los datos proporcionados
</p>

<form [formGroup]="formUsers" (ngSubmit)="addUser()" class="formulario">
    <label>CURP</label>
    <input type="number" value="{{curpRC}}" formControlName="curp" readonly>
    <label>Nombre</label>
    <input formControlName="nombre" type="text" required>
    <label>Primer Apellido</label>
    <input formControlName="priApe" type="text" required>
    <label>Segundo Apellido</label>
    <input formControlName="segApe" type="text" required>
    <label>Fecha de Nacimiento</label>
    <input formControlName="fecNac" type="date" required>
    <label>Edad</label>
    <input formControlName="edad" type="number" required>
    <label>Entidad de Naciemiento</label>
    <input formControlName="entNac" required>
    <label>Sexo</label>
    <select formControlName="sexo" required>
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
        <option value="Otro">Otro</option>
    </select>

    <div id="cont-form">
    <h2>Contacto</h2>
        <label>Teléfon de contacto 1</label>
        <input formControlName="telCon1" type="tel" required>
        <label>Teléfon de contacto 2</label>
        <input formControlName="telCon2" type="tel" required>
        <label>Correo Electrónico</label>
        <input formControlName="email" type="email" required>
    </div>

    <div id="ubic-form">
    <h2>Contacto</h2>
        <label>Calle</label>
        <input formControlName="calle" type="text" required>
        <label>Número Exterior</label>
        <input formControlName="numExt" type="number" required>
        <label>Número Interior (Opcional)</label>
        <input formControlName="telCon1" type="text" >
        <label>Entidad Federativa</label>
        <select formControlName="entFed" required>
            <option value="Jalisco">Jalisco</option>
            <option value="Otro">Otro</option>
        </select>
        <label>Código Postal</label>
        <input formControlName="codPos" type="number" required>
        <label>Municipio</label>
        <input formControlName="munic" type="text" required>
        <label>Colonia (Opcional)</label>
        <input formControlName="colonia" type="text">
    </div>

    <div id="pad-form">
        <h2>Datos del padre o tutor</h2>
        <label>Nombre</label>
        <input formControlName="pNombre" type="text">
        <label>Primer Apellido</label>
        <input formControlName="pPriApe" type="text">
        <label>Segundo Apellido</label>
        <input formControlName="pSegApe" type="text">
    </div>

    <div id="fol-form">
        <h2>Folio Mi Vacuna</h2>
        <label>Folio</label>
        <input formControlName="folio" type="number" required>
        <p>Si no conoces tu folio o aún no te registras en mi vacuna <a href="#">da clic aquí</a></p>
    </div>

    <button> Cancelar </button>
    <button type="submit"> Continuar </button>
</form>