<div id="footer">
    <img src="../../../assets/image/logo_red.svg" alt="red-vac">
    <img src="../../../assets/image/logo_prevenir.svg" alt="cuidarse">
    <img src="../../../assets/image/logo-salud.png" alt="salud">
    <img src="../../../assets/image/logo-servicios.png" alt="ser-sal">
    <img src="../../../assets/image/logo-samu.png" alt="cruz">
    <img src="../../../assets/image/logo_mexico_sedena.png" alt="gob-mex">
    <img src="../../../assets/image/logo_bienestar.png" alt="bienest">
</div>