<div id="inicio" *ngIf="mostrarDC">
    <h1>Campañas activas de vacunación contra Covid-19 (ZMG)</h1>
    <hr>

    <h1>{{municDC}} |  <span> Dosis disponibles</span></h1>
    <div class="center">
        <h5>Selecciona si es tu primera o segunda dosis por aplicar</h5>
    </div>

    
    <div *ngFor="let campana of campanas"  id="num-dosis">
        <div *ngIf="campana.municipio == municDC && campana.dosis">
            <div *ngIf="campana.dosis == 'Primera'" class="abl-dosis"  (click)="getCampaId(campana.id)">
                <img src="../../../assets/image/numero-uno.png" alt="1">
                <h1>{{campana.dosis}} dosis</h1>
                <h6>Disponible</h6>
            </div>
    
            <div *ngIf="campana.dosis != 'Primera'" class="dis-dosis">
                <img src="../../../assets/image/numero-uno.png" alt="1">
                <h1>Primera dosis</h1>
                <h6>No disponible por el momento</h6>
            </div>
        </div>

        <div *ngIf="campana.municipio == municDC && campana.dosis">
            <div *ngIf="campana.dosis == 'Segunda'" class="abl-dosis" (click)="getCampaId(campana.id)">
                <img src="../../../assets/image/numero-2.png" alt="1">
                <h1>{{campana.dosis}} dosis</h1>
                <h6>Disponible</h6>
            </div>
    
            <div *ngIf="campana.dosis != 'Segunda'" class="dis-dosis">
                <img src="../../../assets/image/numero-2.png" alt="1">
                <h1>Segunda dosis</h1>
                <h6>No disponible por el momento</h6>
            </div>
        </div>
    </div> 

    <div id="{{ver}}"><p>*Selecciona una dosis</p></div>

    <div class="t-buttons">
        <a (click)="regresar()" id="button-reg">Regresar</a>
        <button  type="submit"  (click)="getCampa()" class="button">Continuar</button>
    </div>


</div>