<div id="home">
    <div class="inicio">
        <div id="campana">
            <h1>Campañas activas de vacunación contra Covid-19 (ZMG)</h1>

            <div *ngFor="let campana of campanas" id="activa1">
                <img src="#" alt="personajes">
                <h4>Personas de {{campana.edades}} </h4>
                <h4>{{campana.dosis}} Dosis</h4>
                <h3>{{campana.marca}}</h3>
                <h4 *ngIf="campana.dateDosis != '0000-00-00'">Primera dosis aplicada antes del {{campana.dateDosis}}</h4>
            </div>
        </div>

        <div id="agendar">
            <h2>Comenzar ahora</h2>
            <h3>Ingresa tu CURP para agendar una cita o para <a href="#">cancelar una cita</a> ya registrada.</h3>
            <form class="form" #userForm="ngForm" (ngSubmit)="getCurp()">
                <input  type="text" class="input" id="curp"  name="user_curp" #name="ngModel" [(ngModel)]="curp" 
                required pattern="[0-9]{10}" placeholder="Ingresa tu CURP">
                <button  type="submit" [disabled]="userForm.invalid" class="button">Continuar</button>
                <h5>Si no conoces tu CURP <a href="#">consulta aquí</a></h5>
            </form>
        </div>

        <div class="info-tel">
            <a href="33 3823 3220" class="button">33 3823 3220</a>
        </div>
    </div>

    <div class="municipio">
        <app-municipio></app-municipio>
    </div>
    <div class="dosis">
        <app-dosis></app-dosis>
    </div>
    <div class="registro">
        <app-register></app-register>
    </div>
</div>