<div class="content">
    <div id="inicio" *ngIf="mostrar">
        <h1>Campañas activas de vacunación contra Covid-19 (ZMG)</h1>

        <div id="campana">
            <div *ngFor="let campana of campanas" id="activa">
                <div *ngFor="let persona of personas">
                    <div *ngIf="campana.edades == persona.edad">
                        <img src="{{persona.img}}" alt="personajes">
                    </div>
                </div>
                <h4>Personas de {{campana.edades}} </h4>
                <h4><span>{{campana.dosis}} Dosis</span></h4>
                <h3>{{campana.marca}}</h3>
                <h4 *ngIf="campana.dateDosis != '0000-00-00'">Primera dosis aplicada antes del {{campana.dateDosis}}</h4>
            </div>
        </div>

        <div id="agendar">
            <h2>Comenzar ahora</h2>
            <h5>Ingresa tu CURP para agendar una cita o para cancelar una cita ya registrada.</h5>
            <form class="form" #userForm="ngForm" (ngSubmit)="getCurp()">
                <input  type="text" class="input" id="curp"  name="user_curp" #name="ngModel" [(ngModel)]="curp" required 
                pattern="([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$" 
                placeholder="Ingresa tu CURP">
                <button  type="submit" [disabled]="userForm.invalid" class="o-button">Continuar</button>
                <h5>Si no conoces tu CURP <a href="#">consulta aquí</a></h5>
            </form>
        </div>

        <div class="info-tel">
            <img src="../../../assets/image/ico-tel.png" alt="icono">
            <a href="tel:+33 3823 3220" class="button">33 3823 3220</a>
        </div>
    </div>

    <app-municipio></app-municipio>

    <app-dosis></app-dosis>

    <app-activa></app-activa>

</div>

<app-register></app-register>

<!-- <app-complete></app-complete> -->