$c-marin: rgb(9, 33, 139);
$c-azul: rgb(111, 197, 255);
$c-naran: rgb(255, 150, 14);
$c-gris: #666;
$c-lgris: #f1f1f1;
$c-beige: #ccc;

body{
    background-color: white;
    font-family: "Nutmeg",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

h1{
    text-align: center;
    font-size: 40px;
    color: $c-marin;
    span{
        color: $c-gris;
    }
}

h2{
    font-size: 40px;
    color: $c-azul;
}

h3{
    font-size: 30px;
    margin: 1%;
    color: $c-naran;
    text-transform: uppercase;
}

h4{
    font-size: 18px;
    margin: 1%;
    line-height: 20px;
    color: $c-marin;

    span{
        color: $c-azul;
        font-style: italic;
    }
}

h5{
    font-size: 25px;
    color: $c-gris;
    margin: 0px;
} 

h6{
    font-size: 18px;
    color: $c-gris;
    margin-bottom: 2%;

}

a{
    color: $c-azul
}

hr{
    border: 1px #eee solid
}

p{
    font-size: 18px;
    color: $c-gris;
    a{
        font-style: normal;
        font-weight: bold;
    }
}


button{
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    padding: 2% 8%;
    margin:0px 7%;
}

.button{
    background-color: $c-marin;
}

.button-dis{
    background-color: $c-beige;
}

#header{
    width: 100%;
    display: inline-block;

    img{
        width: 10%;
        margin: 0px 2%;
    }

    #img-jal{
        margin-bottom: 15px;
    }

    #menu{
        width: 35%;
        line-height: 50px;
        float: right;

        h4{
            width: 40%;
            margin: 0px;
            display: inline-block;
            a{
                text-decoration: none;
            }
        }
    }
}

.content{
    width: 75%;
    margin: 0 auto;
    padding-bottom: 3%;
    border: 2px $c-beige solid;
    border-radius: 30px;
    
    .center{
        text-align: center;
    }
    

    .inicio{
        width: 60%;
        margin: 0 auto;

        #campana{
            display: flex;

            #activa{
                display: flex;
                width: 42%;
                height: 300px;
                margin: 0 auto;
                padding: 1% 2%;
                display: inline-block;
                border: 1px $c-beige solid;
                border-radius: 20px;
            }
        }

        input{
            width: 50%;
            border: 2px $c-beige solid;
            border-radius: 5px;
            font-size: 30px;
            text-align: center;
            padding: 1% 5%;
            margin: 3% 0px;
        }

        input::placeholder{
            color: $c-gris;
        }

        select{
            display: block;
            font-size: 18px;
            font-weight: 400;
            color: $c-beige;
            line-height: 1.3;
            padding: .4em 1.4em .3em .8em;
            width: 400px;
            max-width: 100%; 
            box-sizing: border-box;
            margin: 20px auto;
            border: 1px solid $c-gris;
            box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
            border-radius: .3em;
            background-color: white;
        }

        .info-tel{
            width: 10%;
            position: fixed;
            top: 90px;
            right:20px;
            border: none;
            border-radius: 20px;
            background-color: $c-azul;
            text-align: center;
            line-height: 40px;
            font-size: 18px;
            
            a{
                background-color: $c-azul;
                color: white;
                text-decoration: none;
                font-style: normal;
                font-weight: bold;
            }
        }

        #municipio{
            width: 50%;
            margin: 0px auto;
        }

        #num-dosis{
            display: flex;

            .abl-dosis, .dis-dosis{
                width: 350px;
                max-width: 100%;
                padding-bottom: 3%;
                border: 2px $c-beige solid;
                border-radius: 30px;
                text-align: center;
                cursor: pointer;
            }
            
            .dis-dosis{
                background-color: $c-lgris;
                cursor: context-menu;
                h1{
                    color: $c-gris;
                }
            }
            
        }

    }

}

.registro{
    width: 75%;
    margin: 2% auto;
    padding-bottom: 3%;

    #curp-rc{
        width: 40%;
        padding: 0.5% 2%;
        border: none;
        border-radius: 20px;
        background-color: $c-beige;
        line-height: 40px;

        h5{
            font-size: 18px;
        }
    }

    .formulario{

        label{
            font-size: 18px;
            color: $c-gris;
            font-style: normal;
            font-weight: bold;
        }

        input, select{
            display: block;
            width: 220px;
            max-width: 100%; 
            background-color: $c-lgris;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.3;
            padding: .4em 1.4em .3em .8em;
            box-sizing: border-box;
            margin: 1%;
            border: none;
            box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
            border-radius: .3em;
        }
    }
}

#footer{
    width: 100%;
    max-width: 100%;

    img{
        width: 10%;
        margin: 0px 2%;
    }
}