<div id="complete">
    <h1>Registro concluido</h1>
    <button (click)="cancelCit()" class="button" id="cancel">Quiero cancelar mi cita</button>
    <!-- <div class="clearfix"></div> -->

    <div class="com-con">
        <div *ngFor="let usuario of Usuarios; last as isLast"  id="datos-prin">
            <div *ngIf="isLast">
                <div id="person">
                    <p>CURP: <span> {{usuario.curp}}</span> | Folio: <span> {{usuario.id}}</span></p>
                    <span>{{usuario.nombre}}</span>
                </div>
        
                <div id="campana">
                    <div *ngFor="let campana of campanas" id="activa">
                        <div *ngIf="campana.id == usuario.camp_id">
                            <div *ngFor="let persona of personas">
                                <div *ngIf="campana.edades == persona.edad" id="der">
                                    <img src="{{persona.img}}" alt="personajes">
                                </div>
                            </div>
                            <p>Campaña</p>
                            <p>{{campana.municipio}} / <span>{{campana.dosis}} dosis</span></p>
                            <p><b>Personas de </b> <strong>{{campana.edades}}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
                
         </div>
    </div>
        <div class="com-con">
            <div *ngFor="let usuario of Usuarios; last as isLast"  id="datos-prin">
                <div *ngIf="isLast">
                    <div *ngFor="let campana of campanas" id="activa">
                        <div *ngIf="campana.id == usuario.camp_id">
                            <div class="dat-cit">
                                <span>Módulo</span>
                                <p>{{campana.modulo}}</p>
                            </div>
                            <div class="dat-cit">
                                <span>Dirección</span>
                                <p>{{campana.domicilio}}</p>
                            </div>
                            <div class="dat-cit">
                                <span>Fecha y Hora:</span>
                                <p id="dat">{{campana.dateAplic}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <p>Ya tienes asegurado el lugar y hora para tu vacunación, ahora para asegurar tu dosis es muy importante 
        que también te registres en la platyaforma federal. Ingresa a <a href="#">https://mivacuna.salud.gob.mx/</a>
        para obtener tu expediente de vacunación. <br>
        Recomendaciones para el día de tu vacunación:
    </p>
</div>


<app-cancelar></app-cancelar>
