<div id="complete">
    <h1>Registro concluido</h1>
    <a href="#" class="button">Quiero cancelar mi cita</a>

    <div id="datos-prin">
        <div id="person">
            <p>CURP: </p>
            <p>Nombre</p>
        </div>

        <div id="camp">
            <img src="#" alt="perso">
            <h4>Edades</h4>
            <h4>Dosis</h4>
            <h4>Marca</h4>
            <h4>Municipio</h4>
        </div>
    </div>

    <div id="datos-lug">
        <p>Modulo</p>
        <p>Dirección</p>
        <p>Fecha y Hora:</p>
    </div>

    <p>Ya tienes asegurado el lugar y hora para tu vacunación, ahora para asegurar tu dosis es muy importante 
        que también te registres en la platyaforma federal. Ingresa a <a href="#">https://mivacuna.salud.gob.mx/</a>
        para obtener tu expediente de vacunación. <br>
        Recomendaciones para el día de tu vacunación:
    </p>
</div>