<div id="cancelar" *ngIf="mostrarNC">
    <div id="background"></div>
    <div id="vent-emer" class="{{mostrarV1}}">
        <div id="cerrar" (click)="cerrar()">
            <img src="../../../assets/image/cerrar.png" alt="">
        </div>
        <h3>Quiero cancelar mi cita</h3>
        <form class="form"> 
            <input  type="text" class="input" value="{{curp}}" readonly>
            <input type="text" value="{{id}}" readonly>
            <button  type="submit" class="button" (click)="eliRegis()">Cancelar mi cita</button> 
        </form>
    </div>
    <div id="vent-emer" class="{{mostrarV2}}">
        <div id="center">
            <h3><span>Tu cita ha sido cancelada</span></h3>
            <p>Verifica si las jornadas vigentes son para tu segmento y marca de vacuna.
                De lo contrario, infórmate en: <a href="#">gobjal.mx/VacunacionJalisco</a>
            </p>
            <button  type="submit" class="button" (click)="home()">Finalizar</button> 
        </div>
    </div>
</div>
